@use '../components/mixins' as *;
@use '../components/variables' as *;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $app-black;
}
.hidden-animation {
  display: none;
}
.animation-container {
  z-index: 99990;
  position: absolute;
  width: 100%;
  height: 100%;
  background: $cursor-dark;
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    color: $app-white;
  }
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: 0.5rem;
    border-radius: 2rem;
    border: 1px solid $cursor-sidebar-hover-dark;
    overflow: hidden;
    .bar {
      color: $app-white;
      width: 100%;
      height: 100%;
      transform: translateX(-50%);
      background: $accent-blue-1;
      animation: loading-animation 1s ease-in-out 0.2s infinite;
      border-radius: 2rem;
    }
    @keyframes loading-animation {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(100%);
      }
    }
  }
}
.app-container {
  @include flex-design(row, space-between, flex-start);
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  .hidden {
    display: none;
  }
  .main {
    @include flex-design(column, none, center);
    width: 75%;
    height: 100%;
  }
}

input {
  outline: none;
}
