@use '../components/mixins' as *;
@use '../components/variables' as *;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $app-black;
}

.app-container {
  @include flex-design(row, space-between, flex-start);
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  .hidden {
    display: none;
  }
  .main {
    @include flex-design(column, none, center);
    width: 75%;
    height: 100%;
  }
}

input {
  outline: none;
}
