@use '../components/mixins' as *;
@use '../components/variables' as *;

.main {
  .address-bar {
    position: sticky;
    top: 0;
    background: $cursor-dark;
    color: $app-white;
    @include flex-design(row, space-between, center);
    padding: 0 5rem;
    width: 100%;
    .changeOpacity {
      opacity: 0;
    }
  }
}
