@use './../components/variables' as *;
@use './../components/mixins' as *;
.sidebar {
  width: 25%;
  height: 100vh;
  background: $light-gray;
  &--title {
    text-align: center;
    border-bottom: 1px solid $light-gray-border;
    h1 {
      font-size: $app-lg;
    }
  }
  .create-buttons--container {
    width: 100%;
    border-bottom: 1px solid $light-gray-border;
    @include flex-design(row, flex-start, center);
  }
}
