@use '../components/mixins' as *;
@use '../components/variables' as *;

.sidebar {
  &--tabs {
    @include flex-design(column, space-between, center);
    width: 100%;
    &--empty {
      width: 100%;
      height: auto;
      margin-top: 5rem;
    }
    .tab {
      @include flex-design(row, space-between, center);
      width: 100%;
      &:hover {
        background: $cursor-sidebar-hover-dark;
        cursor: pointer;
      }
      h3 {
        font-weight: 400;
      }
      .general {
        margin: 5px 5px;
        @include flex-design(row, space-evenly, center);
      }
      .color {
        @include create-circle(25px);
        background: $folder-red;
        margin-right: 5px;
      }
      .more {
        @include flex-design(column, center, center);
        height: 30%;
        width: 5%;
        position: relative;
        .circle {
          @include create-circle(5px);
          background: $app-black;
          margin-bottom: 1px;
        }
        .hidden {
          display: none;
        }
        &:hover {
          cursor: pointer;
        }
      }
      &--selected {
        background: $cursor-dark;
        color: $app-white;
        &:hover {
          background: $hover-button-black !important;
          color: $app-white;
        }
      }
    }
  }
}
