@use '../components/mixins' as *;
@use '../components/variables' as *;

.app-button {
  margin: 7.5px;
  border: 0;
  box-shadow: 0 1px 2px $shadow-black;
  padding: 0.175rem 0.9rem;
  border-radius: 5px;
  background: $button-gray;
  outline: none;
  &:hover {
    background: linear-gradient(
      to bottom,
      rgba($button-gray, 1),
      rgba($light-gray, 1)
    ) !important;
  }
  &:active {
    box-shadow: 0 0px 1px $shadow-black;
  }
}

.delete,
.cancel {
  &:hover {
    background: linear-gradient(to bottom, $red-1, $red-2) !important;
    color: $app-white !important;
  }
  &:active {
    background: $red-2 !important;
    color: $app-white !important;
  }
}
