@use '../components/mixins' as *;
@use '../components/variables' as *;

.app-button {
  margin: 7.5px;
  border: 0;
  padding: 0.175rem 0.9rem;
  background: $cursor-dark;
  color: $app-white;
  outline: none;
  &:hover {
    background: linear-gradient(
      135deg,
      rgba($accent-blue-1, 1),
      rgba($accent-blue-2, 1)
    ) !important;
    cursor: pointer;
  }
}
.cancel {
  border: 1px solid $app-red;
  background: none;
  color: $app-red;

  &:hover {
    background: $app-red !important;
    color: $app-white !important;
  }
}

.delete {
  border: 1px solid $del-btn-dark;
  background: none;
  color: $del-btn-dark;
  &:hover {
    background: $app-red !important;
    color: $app-white !important;
    border: 1px solid $app-red;
  }
}
