// NEW COLORS
$app-black: #4f4f4f;
$hover-button-black: #414141;
$accent-blue-1: #2f80ed;
$accent-blue-2: #2d9cdb;
$accent-dark: #353535;
$cursor-dark: #202020;
$accent-dark-2: #181717;
$cursor-sidebar-hover-dark: #414141;
$app-white: #f3f3f3;
$app-border-dark: #4f4f4f;
$app-red: #eb5757;
$del-btn-dark: #bdbdbd;

// Delete Button
$red-1: #eb5757;
$red-2: #b93d3d;
// Folder Color
$folder-green: rgb(130, 204, 130);
$folder-red: rgb(219, 107, 107);
$folder-yellow: rgb(224, 162, 45);
$folder-blue: rgb(130, 160, 204);
// FONT SIZES
$app-rg: 15px;
$app-md: 18px;
$app-lg: 25px;
$app-xl: 50px;
