// Colors
$light-gray: #bdbdbd;
$light-gray-border: #b5b5b5;
$light-gray-border-2: #aaaaaa;
$button-gray: #d8d8d8;
$app-black: #4f4f4f;
$shadow-black: #00000040;
$gen-gray: #888787;
$app-white: #f3f3f3;
$very-light-gray: #cacaca;
$hover-button-black: #414141;

// Delete Button
$red-1: #eb5757;
$red-2: #b93d3d;
// Folder Color
$folder-green: rgb(130, 204, 130);
$folder-red: rgb(219, 107, 107);
$folder-yellow: rgb(224, 162, 45);
$folder-blue: rgb(130, 160, 204);
// FONT SIZES
$app-rg: 15px;
$app-md: 18px;
$app-lg: 25px;
$app-xl: 50px;
